# The ipdx team is responsible for GitHub Management maintenance
* @testground/ipdx

# The github-mgmt stewards team is responsible for triaging/reviewing configuration change requests
# The ipdx team is added here temporarily to witness use patterns in github-mgmt
/github/testground.yml @testground/github-mgmt-stewards @testground/ipdx
